<!DOCTYPE html>
<html>
<head lang="zh_cn">

    <!-- 基本配置信息 -->
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>


    <!-- seo 优化部分 -->
    <meta name="title" content="知了web·知了web"/>
    <meta name="keywords" content="知了web 知了web 知了web 知了web 知了web 知了web 知了web"/>
    <meta name="author" content="sherlock"/>
    <meta name="Description" content="知了web服务平台"/>

    <!-- bootstrap css -->
    <link href="../static/other/bootstrap/bootstrap.min.css" rel="stylesheet"/>

    <!-- 小于ie9 的文件 -->
    <!--[if lt IE 9]>
    <script src="../static/other/ie9/html5shiv.min.js"></script>
    <script src="../static/other/ie9/respond.min.js"></script>
    <![endif]-->

    <!-- seajs -->
    <script type="text/javascript" src="../static/other/sea/2.3.0/dist/sea-debug.js"></script>
    <script type="text/javascript" src="../static/seajs_config.js"></script>


    <!-- feedback css -->
    <link href="../static/service/feedback/feedback.css" rel="stylesheet"/>
    <link href="../static/service/feedback/component.css" rel="stylesheet"/>

    <title>知了聆听你的声音·知了</title>
</head>
<body class="feedback">


<header class="fb-header headroom  header-fixed" >

    <div class="header-title">
        <h4 class="text-center">知了，理解源自沟通</h4>
    </div>

    <!-- 工具条 -->
    <section class="col-md-12 fb-util">
        <div class="col-sm-2  col-xs-3 text-left">
            <div class="row-fb row">
                <span class="ib fb-text-noraml">今日</span>
                <a href="javascript:void(0);" class="ib fb-btn dark">未知</a>
            </div>
        </div>
        <div class="col-sm-6 col-xs-5 text-right">
            <div class="row-fb row">
                <a href="javascript:void(0);" class="ib fb-btn little-large light">老师反馈</a>
                <a href="javascript:void(0);" class="ib fb-btn little-large dark">家长反馈</a>
            </div>
        </div>
        <div class="col-sm-4 col-xs-4 text-right">
            <section class="fb-list-btns hidden-xs">
                <button class="btn btn-default  ib fb-default">本月(未知)</button>
                <button class="btn btn-default  ib fb-default totalCount">累计(未知)</button>
            </section>
            <section class="visible-xs-block">
                <a href="javascript:void(0);" class="ib totalCount" >累计(未知)</a>
            </section>
        </div>
    </section>
</header>




<div class="container-fluid " style="margin-top: 98px;">
    <div class="row">



        <!--反馈时间轴-->
        <section class="col-md-12 ">

            <div class="timeline" id="infline_scroll">
                <ul class="cbp_tmtimeline">

                </ul>

                <div class="navigation" id="navigation">
                    <a href="/feedBack/data/getList_back.json?page=1"></a>
                </div>


                <div class="loading"></div>
            </div>

        </section>

    </div>
</div>



<div class="alert alert-success" role="alert" id="alertDom">
    <strong>提示</strong>
    您有条新的反馈<a style="margin-left: 15px" href="javascript:window.location.href =window.location.href " >点我进行刷新</a>
</div>

<footer>


</footer>


<script type="text/html" id="listTempalte">

    <@ for (i=0;i<feedbackList.length;i++) { @>

    <li data-id="<@=feedbackList[i].feedbackId @>">
        <time class="cbp_tmtime" datetime="<@=feedbackList[i].time  @> <@=feedbackList[i].time  @>">
            <span><@=$ctDate(feedbackList[i].time)  @></span> <span><@=$cttime(feedbackList[i].time)  @></span>

        </time>
        <div class="cbp_tmicon ib light">
            <@ if(!feedbackList[i].userImg) {@>
                 <img src="../static/img/head.png"  width="42" height="42">
            <@ }else{@>
                 <img src="<@=feedbackList[i].userImg @>"  width="42" height="42">
            <@ } @>

        </div>


        <@ if(feedbackList[i].userType == '0') {@>
            <div class="cbp_tmlabel  dark">
                <div class="cbp_tmlabel_head dark clearfix">
        <@ }else{@>
            <div class="cbp_tmlabel  light">
                <div class="cbp_tmlabel_head light clearfix">
        <@ } @>

                <div class="pull-left">
                    <i class="ib cbp_user_img mr5"></i>
                    <span class="ib mr5"><@=feedbackList[i].userName @>老师
                        <@ if(feedbackList[i].userType == '0') {@>
                            家长
                        <@ }else{@>
                            老师
                        <@ } @>
                   </span>


                    <@ if(!feedbackList[i].userSubject) {@>
                    <span class="ib">暂无科目</span>
                    <@ }else{@>
                    <span class="ib"><@=feedbackList[i].userSubject @></span>
                    <@ } @>



                </div>
                <div class="pull-right">
                    <i class="ib cbp_location_img mr5"></i>
                    <@ if(!feedbackList[i].userClass) {@>
                           <span class="ib">暂无班级</span>
                    <@ }else{@>
                           <span class="ib"><@=feedbackList[i].userClass @></span>
                    <@ } @>



                    <@ if(!feedbackList[i].userSchool) {@>
                    <span class="ib">暂无学校</span>
                    <@ }else{@>
                    <span class="ib"><@=feedbackList[i].userSchool @></span>
                    <@ } @>


                        <@ if(!feedbackList[i].userCity) {@>
                        <span class="ib">暂无城市</span>
                        <@ }else{@>
                        <span class="ib"><@=feedbackList[i].userCity @></span>
                        <@ } @>

                    <@ if(!feedbackList[i].userProvince) {@>
                    <span class="ib">暂无省份</span>
                    <@ }else{@>
                    <span class="ib"><@=feedbackList[i].userProvince @></span>
                    <@ } @>



                </div>
            </div>
            <p><@=feedbackList[i].content @></p>
        </div>
    </li>

    <@  } @>

</script>

</body>


<script type="text/javascript">
    seajs.use(["service/template/template", "service/feedback/feedback"]);
</script>
</html>