<!DOCTYPE html>
<html>
<head lang="zh_cn">

    <!-- 基本配置信息 -->
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>


    <!-- seo 优化部分 -->
    <meta name="title" content="知了web·知了web" />
    <meta name="keywords" content="知了web 知了web 知了web 知了web 知了web 知了web 知了web" />
    <meta name="author" content="sherlock" />
    <meta name="Description" content="知了web服务平台"/>



    <!-- bootstrap css -->
    <link href="../static/other/bootstrap/bootstrap.min.css"  rel="stylesheet" />


    <!-- 小于ie9 的文件 -->
    <!--[if lt IE 9]>
    <script src="../static/othes/ie9/html5shiv.min.js"></script>
    <script src="./static/other/ie9/respond.min.js"></script>
    <![endif]-->



    <!-- seajs -->
    <script type="text/javascript" src="../static/other/sea/2.3.0/dist/sea-debug.js" ></script>
    <script type="text/javascript" src="../static/seajs_config.js"></script>



    <!-- feedback css -->
    <link href="../static/service/feedback/feedback.css"  rel="stylesheet" />

    <title>知了聆听你的声音·知了</title>
</head>
<body>






</body>


<script type="text/javascript">
    seajs.use(["service/template/template","service/feedback/feedback"]);
</script>
</html>